 <ion-card class="card"
  [@slideLike]="animateLike ? 'open' : 'right'"
  [@slideNotLike]="animateNotLike ? 'open' : 'left'"
  
  (@slideLike.done)="finishAnimationLike()"
  (@slideNotLike.done)="finishAnimationNotLike()"    
    
    
  >
    <ul>
      <li *ngFor="let item of usuario.imagenes;let i = index">
     
        <img 
          *ngIf="i == counter"
          (swiperight)="startAnimationLike()"
          (swipeleft)="startAnimationNotLike()"
          (swipeup)="showNextImage()"
          (swipedown)="showPreviousImage()"
          [src]="usuario.imagenes[i].src"
          style="width: 100%;"
        />
      </li>
      <div class="carousel-indicador">
        <div
          class="indicador"
          *ngFor="let item of usuario.imagenes;let i = index"
          [ngClass]="{'active': i == counter}"
        ></div>
      </div>
    </ul>
    <div class="menu-like">
      <ion-button color="primary" fill="clear" (click)="notLike()"
        ><ion-icon
          size="large"
          style="color:red;"
          name="heart-dislike"
        ></ion-icon
      ></ion-button>
      <ion-button color="primary" fill="clear" (click)="like()"
        ><ion-icon size="large" style="color: #2dd36f;" name="heart"></ion-icon
      ></ion-button>
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{usuario.distancia}}km de distancia</ion-card-subtitle>
      <ion-card-title>{{usuario.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{usuario.descripcion}}
    </ion-card-content>
  </ion-card>