<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <div>
    <div *ngFor="let item of usuarios">
      <card-persona-component
        [cambiandoEstadoPerfil]="estadoPerfil"
        style="display: block; width: 100%;"
        [usuario]="item"
        (usuarioSeleccionada)="GetChildData($event)"
      ></card-persona-component>
    </div>
  </div>
  <div class="menu-like">
    <ion-button color="primary" fill="clear" (click)="notLike()"
      ><ion-icon
        size="large"
        style="color: red;"
        name="heart-dislike"
      ></ion-icon
    ></ion-button>
    <ion-button color="primary" fill="clear"
      ><ion-icon size="large" style="color: #e0ac08; top: -9px;" name="star"></ion-icon
    ></ion-button>
    <ion-button color="primary" fill="clear" (click)="like();"
      ><ion-icon size="large" style="color: #2dd36f;" name="heart"></ion-icon
    ></ion-button>
  </div>
</ion-content>
<div *ngIf="showSplash" class="splash">
  <div class="spinner"></div>
  <div>Buscando tu media naranja</div>
</div>
