<ion-content>

<form class="container" [formGroup]="usuarioForm" (submit)="siguiente()" #myform="ngForm">
<ion-list>
  <ion-item>
    <ion-label>Bienvenido {{usuario.nombre}}</ion-label>
  </ion-item>
  <h1>¿Con quien te queres cruzar?</h1>
  <ion-item>
    <ion-label>Hombre</ion-label>
    <ion-toggle slot="start" formControlName="sexoHombre" name="sexoHombre" color="light" checked="false" (ionChange)="validarSeleccionarSexo()"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Mujer</ion-label>
    <ion-toggle slot="start" formControlName="sexoMujer"  name="sexoMujer"  color="light" checked="false" (ionChange)="validarSeleccionarSexo()"></ion-toggle>
  </ion-item>
</ion-list>
<section>
  <h6>
  Al elegir "Continuar" estás dando tu consentimiento expreso al tratamiento de estos
  datos para que te propongamos perfiles que respondar a tus criterios
</h6>
</section>
<section>
  <p color="danger" *ngIf="usuarioForm.get('sexoHombre').hasError('required')">Por favor ingresa con que persona quieres vincularte </p>
</section>
<section>
  <ion-button type="submit" expand="block"  [disabled]="!usuarioForm.valid">Continuar</ion-button>
</section>
</form>
</ion-content>
