<ion-content>
<h1>¿Con quien te queres cruzar?</h1>
<ion-list>
  <ion-item>
    <ion-label>Hombre</ion-label>
    <ion-toggle slot="start" name="banana" color="light" checked></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Mujer</ion-label>
    <ion-toggle slot="start" name="banana" color="light" checked></ion-toggle>
  </ion-item>
</ion-list>
<section>
  <h6>
  Al elegir "Continuar" estás dando tu consentimiento expreso al tratamiento de estos
  datos para que te propongamos perfiles que respondar a tus criterios
</h6>
</section>
<section>
  <ion-button expand="block">Continuar</ion-button>
</section>
</ion-content>
