<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button routerLink="../">
      Mas Tarde
    </ion-button>
  </ion-buttons>

</ion-toolbar>
<ion-content>
  <h1>Ingresa tu direccion de correo electronico</h1>
  <ion-item>
    <ion-input placeholder="Direccion de Correo" [(ngModel)]="usuario.correo"></ion-input>
  </ion-item>
  <section>
    <h6>
    Tu correo electronico se utiliza para garantizar la seguridad de tu cuenta y te permite acceder al
    servicio
  </h6>
  </section>
  <section>
    <ion-button expand="block" (click)="siguiente()">Continuar</ion-button>
  </section>
  </ion-content>
  