<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button routerLink="../">
      Mas Tarde
    </ion-button>
  </ion-buttons>

</ion-toolbar>
<ion-content>
  <form class="container" [formGroup]="usuarioForm" (submit)="siguiente()" #myform="ngForm">
  <h1>Ingresa tu direccion de correo electronico</h1>
  <ion-item>
    <ion-input formControlName="direccion" placeholder="Direccion de Correo" ></ion-input>
  </ion-item>
  <section>
    <h6>
    Tu correo electronico se utiliza para garantizar la seguridad de tu cuenta y te permite acceder al
    servicio
  </h6>
  </section>
  <section>
    <ion-button type="submit" expand="block" [disabled]="!usuarioForm.valid">Continuar</ion-button>
  </section>
</form>
  </ion-content>
  