<ion-content>

  <div [dragula]='"bag"' [(dragulaModel)]="usuario.imagenes">
  <div [ngClass]="{'test': imagen.src === undefined}"
    *ngFor="let imagen of usuario.imagenes; let i = index"
    style="width: 25%;float: left;
    padding-top: 10px;
    padding-left: 10px;" [attr.position]="i" [attr.id]="imagen.id"
  >
    <camera-image-component
      (click)="agregarTexto()"
      class="small-photo"
      [indexImagen]="i"
      [imagen]="imagen"
      (eliminarEvento)="eliminarImagen($event)">
    </camera-image-component>
   
  </div>
</div>
  <section>
   
  </section>
  <!--<cropp-edicion></cropp-edicion>-->
</ion-content>
