<ion-content>
  <ion-toolbar>
    <ion-title>
      Preferencias
    </ion-title>
  </ion-toolbar>
  <section>
    <ion-list>
      <ion-item>
        <ion-label>Fotos</ion-label>
      </ion-item>
      <ion-item>
        <div [dragula]='"bag"' [(dragulaModel)]="usuario.imagenes">
          <div
            [ngClass]="{'test': imagen.src === undefined}"
            *ngFor="let imagen of usuario.imagenes; let i = index"
            class="content-photo"
            [attr.position]="i"
            [attr.id]="imagen.id"
          >
            <camera-image-component
              (click)="agregarTexto()"
              class="small-photo"
              [indexImagen]="i"
              [imagen]="imagen"
              (eliminarEvento)="eliminarImagen($event)"
            >
            </camera-image-component>
          </div>
        </div>
        <!--<ul>
          <li *ngFor="let track of tracks; let i = index">
            <img src="{{track.images[2].url}}" alt="" />
          </li>
        </ul>-->
      </ion-item>
      <ion-item>
        <ion-label>Spotify</ion-label>
      </ion-item>

      <ion-button
        expand="full"
        (click)="seleccionarCancionFavorita()"
        color="light"
      >
        <ion-icon slot="end" name="star"></ion-icon>
        Seleccionar tu cancion</ion-button
      >
      <ion-list>
        <ion-item *ngIf="track">
          <ion-img slot="start" [src]="track.album.images[2].url"></ion-img>
          <ion-label>{{track.album.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-list>

    <ion-button
      expand="full"
      (click)="seleccionarArtistaFavorito()"
      color="light"
    >
      <ion-icon slot="end" name="star"></ion-icon>
      Seleccionar tu artista</ion-button
    >

    <ion-list>
      <ion-item *ngIf="artist">
        <ion-img
          slot="start"
          style="width: 64px;"
          [src]="artist.images[2].url"
        ></ion-img>
        <ion-label>{{artist.name}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>Instagram</ion-label>
    </ion-item>
    <ion-button expand="full" (click)="loginInstagram()" color="light">
      <ion-icon slot="end" name="star"></ion-icon>
      Ingresar Instagra</ion-button
    >

    <app-instlastphotos [mediaInstagrams]="mediaInstagrams"></app-instlastphotos>
    <!--<ul *ngFor="let media of mediaInstagrams">
      <li>
        <img src="{{media.media_url}}" alt="" />
      </li>
    </ul>-->
    <pre></pre>
  </section>

  <!--<cropp-edicion></cropp-edicion>-->
</ion-content>
